@{
    ViewData["Title"] = "Datatable - full adat";
}
<h1>@ViewData["Title"]</h1>

<p>Full adat lekérdezés és kiírás</p>

<br />
<br />
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@*Datatable megvalositása*@
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        @*<form method="get" enctype="application/x-www-form-urlencoded">
            <input id="kakao" name="kakao" value="0"/>*@
            <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>AddressId</th>
                        <th>AddressLine1</th>
                        <th>AddressLine2</th>
                        <th>City</th>
                        <th>StateProvinceID</th>
                        <th>PostalCode</th>
                        <th>Rowguid</th>
                        <th>ModifiedDate</th>
                    </tr>
                </thead>
            </table>
        @*</form>*@
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.25/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.25/datatables.min.js"></script>

    <script src="~/js/datatable.js"></script>
}